@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


.height {
  height: 100px;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
  width: 290px;
  justify-content: center;
  margin: auto;
  padding: auto;
}

.search input {
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  width: 290px;
  margin: auto;
  padding: auto;
}

.search input:focus {
  box-shadow: none;
  border: 2px solid blue;
}

.search .fa-search {
  position: absolute;
  top: 20px;
  left: 16px;
}

.search button {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 50px;
  width: 75px;
  background: blue;
}

.main {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  width: 350px;
  margin: 10px auto;
  padding-bottom:10px;
}

.card {
  align-items: center;
  align-content: center;
  margin: auto;
  padding: auto;
}
.row {
  width: 350px;
  justify-content: center;
  align-items: center;
  align-content: center;
}

button.btn.btn-primary {
  font-size: 15px;
}

.first {
  font-weight: bold;
  color: white;
  background-color: black;
}
.btn{
       width: 250px;
}

.card-text{
  font-weight: bold;
}

.cardBody{
  text-align: center;
}